
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496988378426'); /* IE9*/
  src: url('iconfont.eot?t=1496988378426#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496988378426') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496988378426') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496988378426#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmaohaoquan:before { content: "\e600"; }

.icon-discoverfill:before { content: "\e6ba"; }

.icon-cloud:before { content: "\e62e"; }

.icon-browser:before { content: "\e606"; }

.icon-upload:before { content: "\e656"; }

.icon-ibmlogo:before { content: "\e601"; }

.icon-iconanalytics:before { content: "\e60b"; }

.icon-knowledge:before { content: "\e607"; }

.icon-iconfontyouhuiquan:before { content: "\e627"; }

.icon-iconsqdrsecurity:before { content: "\e621"; }

.icon-customer:before { content: "\e790"; }

.icon-moblie:before { content: "\e620"; }

.icon-yunyingguanli:before { content: "\e618"; }

.icon-yanfaxietong:before { content: "\e61f"; }

.icon-jian:before { content: "\e622"; }

.icon-tianjia:before { content: "\e623"; }

.icon-youjiantou:before { content: "\e624"; }

.icon-biaoqian:before { content: "\e63d"; }

.icon-daxiao:before { content: "\e63e"; }

.icon-wangluopinpaishu:before { content: "\e647"; }

.icon-knowledge1:before { content: "\e628"; }

.icon-Learning:before { content: "\e609"; }

.icon-jiaosequnti:before { content: "\e8c9"; }

.icon-liebiaoshitucaidan:before { content: "\e8dc"; }

.icon-center:before { content: "\e63f"; }

.icon-label:before { content: "\e706"; }

.icon-people_fill:before { content: "\e715"; }

.icon-search:before { content: "\e741"; }

.icon-unfold:before { content: "\e749"; }

.icon-support:before { content: "\e680"; }

